$fontColor: #1b2733;
$fontMuted: rgb(73, 80, 87);
$borderColor: rgba(115, 165, 255, 0.2);
$background: #fff;
$secondaryFont: #657786;
$headerBlack: #212529;
$white: #ffffff;
$primaryBlue: #4183d7;
$inputBorder: rgb(123, 22, 255);
$gradientBlueLight: #73a5ff;
$gradientBlueDark: #5477f5;
$gradientRedLight: #f77062;
$gradientRedDark: #fe5196;