/* new card component */
.new-card input {
  width: 100%;
  padding: 10px 5px;
  border-radius: 3px;
  margin-top: 5px;
  border: 1px solid #dfe7ef;
  font-family: 'Roboto', sans-serif; }
  .new-card input:focus {
    outline: none;
    border: 1px solid #7b16ff; }

.new-card button {
  padding: 10px 5px;
  border-radius: 3px;
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s; }
  .new-card button:focus {
    outline: none; }
  .new-card button.submit {
    width: 80%;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
    background: linear-gradient(135deg, #73a5ff, #5477f5);
    margin-right: 5px; }
    .new-card button.submit:hover {
      transform: translateY(-2px);
      background: linear-gradient(135deg, #5477f5, #73a5ff); }
  .new-card button.cancel {
    width: 18%;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%); }
    .new-card button.cancel:hover {
      transform: translateY(-2px);
      background-image: linear-gradient(to top, #fe5196 0%, #f77062 100%); }

/* custom card component */
.card .card-item {
  margin-bottom: 10px;
  font-size: 12px; }
  .card .card-item span {
    display: inline-block;
    padding-left: 20px; }

.icon {
  height: 15px;
  width: 15px;
  margin-right: 3px;
  position: absolute; }

/* header component */
.lane-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
  width: 92%;
  position: absolute;
  z-index: 1000;
  top: -30px;
  padding: 15px 10px;
  left: 10px;
  border-radius: 3px;
  border: 1px solid rgba(115, 165, 255, 0.2); }
  .lane-header .lane-title {
    font-size: 13px;
    font-weight: bold;
    width: 79%; }
  .lane-header .lane-count {
    width: 5%;
    text-align: right;
    padding-right: 10px;
    font-size: 12px; }

/* job board */
.job-board .job-card {
  border: 1px solid rgba(115, 165, 255, 0.2);
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  font-size: 13px; }
  .job-board .job-card .job-title {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px; }
