@import '../shared/colors.scss';

.tmj-header {
  position: fixed;
  height: 50px;
  top: 0;
  width: 100vw;
  padding: 5px;
  background: $white;
  color: $white;
  z-index: 9999;
  box-shadow: 0 1px rgba(99,114,130,0.16);
  a {
    color: $headerBlack;
  }
}
