@import '../shared/colors.scss';

.tmj-header {
  position: fixed;
  height: 60px;
  top: 0;
  width: 100vw;
  padding: 5px;
  background: $white;
  color: $white;
  z-index: 9999;
  box-shadow: 0 1px rgba(99, 114, 130, 0.16);
  a {
    color: $fontColor;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
  }
}
