.card {
  border: 1px solid #dfe7ef;
  padding: 10px;
  border-radius: 5px; }
  .card:hover {
    background: #dfe7ef; }

/* temporary fix - must find a solution */
.jHtXmx {
  border-bottom: none; }
