.card {
  margin-top: 10px;
  border: 1px solid rgba(115,165,255, 0.2);
  padding: 10px;
  border-radius: 5px;
  transition: all 0.2s ease-in;
  &:hover {
    background: rgba(115,165,255, 0.2)
  }
}
.board-container {
  padding-top: 50px !important;
}

.add-new-button {
  width: 100%;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
  background: linear-gradient(135deg, #73a5ff, #5477f5);
  color: white;
  border: none;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  transition: all 0.3s;
  margin-top: 10px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;

  &:hover {
    transform: translateY(-3px);
    background: linear-gradient(135deg, #5477f5, #73a5ff);
  }

  &:focus {
    outline: none;
  }
}
/* temporary fix - must find a solution - make a PR to original package , or clone and build custom component */
.jHtXmx {
  border-bottom: none !important;
}
.kfefRd {
  top: 2px !important;
  right: 2px !important;
}
.ifVHOW {
  background: #F62459 !important;
  height: 18px !important;
  width: 18px !important;
  border: none !important;
  border-radius: 18px 8px 18px 18px !important;
}
.ifVHOW:hover::before, .ifVHOW:hover::after {
  background: #ECF0F1 !important;
}

section {
  background: rgba(115,165,255, 0.1) !important;
  .add-new-button {
    display: none !important;
  }
}

section[title='Applied/Awaiting response'] {
  .add-new-button {
    display: block !important;
  }
}
